@model TheBookSummary.Web.ViewModels.Book.RatingInputModel

@using (Html.BeginForm("Rate", "Rating", FormMethod.Post))
{
    <span class=" text-warning">
    <label class="ratingStar fa fa-star-o" for="star1"></label>
    <input type="radio" id="star1" value=2 asp-for="Stars" hidden />

    <label class="ratingStar fa fa-star-o" for="star2"></label>
    <input type="radio" id="star2" value=4 asp-for="Stars" hidden />

    <label class="ratingStar fa fa-star-o" for="star3"></label>
    <input type="radio" id="star3" value=6 asp-for="Stars" hidden />

    <label class="ratingStar fa fa-star-o" for="star4"></label>
    <input type="radio" id="star4" value=8 asp-for="Stars" hidden />

    <label class="ratingStar fa fa-star-o" for="star5"></label>
    <input type="radio" id="star5" value=10 asp-for="Stars" hidden />

</span>
    <div class="container">
    <input class="btn btn-primary" type="submit" value="Submit" />
</div>
}