@model TheBookSummary.Web.ViewModels.Book.RatingInputModel


@using (Html.BeginForm("Rate", "Rating", FormMethod.Post, new { Id = "RatingsForm" }))
{
    <input asp-for="@Model.BookId" value="@Model.BookId" readonly hidden />
    <input type="radio" id="star" value=2 asp-for="Stars" hidden />
    <div id="rateYoRating"></div>
    <div class="container position-relative">
    <input class="btn btn-primary hiddenButtonSubmit" type="submit" value="Submit" hidden />
</div>
}
