@model TheBookSummary.Web.ViewModels.Book.BookViewModel
@using System.Globalization
@using TheBookSummary.Web.ViewModels.Rating

@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>@Html.DisplayFor(model => model.BookName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Summary
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary.FullSummary))
        </dd>
        <dt class="col-sm-2">
            Rate
        </dt>
        <div class="col-sm-10">
            @{
                //TODO Change with RateYo plugin, implement the widget and create a function for submitting the form when rating is clicked.
                await this.Html.RenderPartialAsync("RatingPartial", new RatingInputModel() { BookId = Model.Id });
            }
        </div>
        <dt class="col-sm-2">
            Overall rating
        </dt>
        <div class="col-sm-10">
            @* rating partial view *@
            @{
                //TODO Implement RateYo plugin, Use ReadonlyTrue and pass the Value of the average from model
                await this.Html.RenderPartialAsync("RatingsView");
            }
        </div>
        <div id="rateYo"></div>

    </dl>
</div>
<div>
    @* <a asp-action="Discussion" asp-route-id="@Model?.Id">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

    <script>
        $(function () {
         
          $("#rateYo").rateYo( {
              rating: @ViewBag.averageRating.ToString(CultureInfo.InvariantCulture),
              readOnly: true,
          });
         
        });
    </script>

    <script>
        $(function () {
         
          $("#rateYoRating").rateYo( {
              fullStar: true,
              maxValue: 10,
              onChange: function (rating, rateYoInstance)
                {
                    $(this).next().text(rating);
                },
              onSet: function (rating, rateYoInstance)
                {
                    $("input[type= 'radio']").prop("checked", true);
                    $("#star").val(rating);
                    $("#RatingsForm").submit();    
                }
          });
         
        });
    </script>
}
