@model TheBookSummary.Web.ViewModels.Book.BookViewModel

@using TheBookSummary.Web.ViewModels.Book

@{
    ViewData["Title"] = "Details";
    double averageStars = 0;

    if (Model.StarsRating.Any())
    {
        averageStars = Model.StarsRating.Average(r => r.Stars) / 2;
    }
    //TODO Fix half star not showing JavaScript
    averageStars = 2.3;
}
<div>
    <h4>@Html.DisplayFor(model => model.BookName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Summary
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary.FullSummary))
        </dd>
        <dt class="col-sm-2">
            Rate
        </dt>
        <div class="col-sm-10">
            @{
                //TODO Change with RateYo plugin, implement the widget and create a function for submitting the form when rating is clicked.
                await this.Html.RenderPartialAsync("RatingPartial", new RatingInputModel() { BookId = Model.Id });
            }
        </div>
        <dt class="col-sm-2">
            Overall rating
        </dt>
        <div class="col-sm-10">
            @* rating partial view *@
            @{
                //TODO Implement RateYo plugin, Use ReadonlyTrue and pass the Value of the average from model
                await this.Html.RenderPartialAsync("RatingsView");
            }
        </div>
        <div id="rateYo"></div>

    </dl>
</div>
<div>
    @* <a asp-action="Discussion" asp-route-id="@Model?.Id">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>
        $(function () {
         
          $("#rateYo").rateYo( {
              rating: 3.5,
              readOnly: true
          });
         
        });
    </script>
    @* <script> *@
    @*     $(".ratingStar").hover(function () { *@
    @*         $(".ratingStar").css("cursor", "pointer"); *@
    @*         $(".ratingStar").addClass("fa-star-o").removeClass("fa-star"); *@
    @* *@
    @*         $(this).addClass("fa-star").removeClass("fa-star-o"); *@
    @*         $(this).prevAll(".ratingStar").addClass("fa-star").removeClass("fa-star-o"); *@
    @*     }); *@
    @* *@
    @*     $(document).ready(function () { *@
    @*         $("label").click(function () { *@
    @*             let radioId = $(this).attr("for"); *@
    @*             $("input[type= 'radio']").prop("checked", false); *@
    @*             $("#" + radioId).prop("checked", true); *@
    @*             $("#RatingsForm").submit(); *@
    @*         }) *@
    @*     }); *@
    @* *@
    @*     const starIcons = $(".rating-container, .overallStar"); *@
    @* *@
    @*     starIcons.each(function (index) { *@
    @*         const starElement = $(this) *@
    @* *@
    @*         if (@averageStars > index) *@
    @*             { *@
    @*                 starElement.removeClass("fa-star-o").addClass("fa-star"); *@
    @*             } *@
    @*         else if ((@averageStars - (index + 1)) > 0 && (@averageStars - (index + 1)) < 1) *@
    @*             { *@
    @*                 starElement.removeClass("fa-star-o").addClass("fa-star-half"); *@
    @*             } *@
    @*     }); *@
    @* </script> *@
}
